body {
	font-family: Lato, sans-serif;
	background: #73c7a2;
}

.navbar-inner {
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    filter: none;
    border: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

#docsSearch {
    background: transparent;
    border-bottom: none;
    margin-bottom: 3em;
    padding: 1.5em 0;
}

#searchBar button {
    background: #73c7a2;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    margin: 1em auto;
}

.category-list .category {
    text-align: center;
		background-color: #dfdfdf;
    display: inline-block;
    width: 29%;
    border: 1px solid #000000;
    margin: 0 .8% 20px;
    padding: 1.5em 1em;
    cursor: pointer;
    -webkit-transition: background .15s;
    -moz-transition: background .15s;
    -o-transition: background .15s;
    transition: background .15s;
    vertical-align: top;
}

.category {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-position-x: 50% !important;
    background-position-y: 24px !important;
    background-color: var(--color-white) !important;
    border-radius: var(--border-radius-small);
    border-radius: var(--border-radius-large);
    border: none !important;
    border-width: 0 !important;
    border-style: none !important;
    box-shadow: var(--drop-shadow-small);
    padding-top: 232px !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    box-sizing: border-box;
    width: 31% !important;
    transition: all 0.1s ease-in !important;
}

h2#collection-1 {
    display: none;
}
