/*
    Author: Antoine Meunier, Jack Spades Studio
    Date: October 28th 2020
    Contact: dev@jackspades.studio
*/

:root {
  /* Colors */
  /* - Base Scales --color-[name]-[shade] */
	--color-light-green: #dce1dc;
	--color-green: #73c7a2;
	--color-green-dark: #0c5b4c;



  --color-blue:#2b189b;
  --color-blue-dark:#211375;
  --color-blue-extra-dark:#190f57;
  --color-green-extra-dark:#0a5345;
  --color-red-light:#f26b4d;
  --color-red:#c35037;
  --color-red-dark:#b5432b;
  --color-red-extra-dark:#a03620;
  --color-grey-extra-light:rgba(0, 0, 0, 0.12);
  --color-grey-light:rgba(0, 0, 0, 0.24);
  --color-grey:rgba(0, 0, 0, 0.56);
  --color-grey-dark:rgba(0, 0, 0, 0.6);
  --color-grey-extra-dark:rgba(0, 0, 0, 0.72);
  --color-black:#000;
  --color-white:#FFF;
  /* - Special */
  --color-background-grey:#f4f4f4;
  --color-background-yellow:#f8e3c8;
  --color-background-pink:#f8dbd5;
  --color-background-info-blue:#ace5f6;
  --color-background-error-red:#fb9782;
  --color-background-warning-yellow:#fcde6d;
  --color-illustration-blue:#6a6feb;
  --color-illustration-green:#1b9c84;
  --color-illustration-red:#ff7e6c;

  /* - Font Scale */
  /* Superior Ink Headings */
  --font-family-text: Lato, sans-serif;
  --font-size-extra-small:12px;
  --font-line-height-extra-small:18px;
  --font-size-small:14px;
  --font-line-height-small:20px;
  --font-size-normal:16px;
  --font-line-height-normal:24px;
  --font-size-large:18px;
  --font-line-height-large:26px;

  /* Superior Ink Text */
  --font-family-sub-headline: Lato, sans-serif;
  --font-size-sub-headline-small:24px;
  --font-line-height-sub-headline-small:32px;
  --font-size-sub-headline-normal:28px;
  --font-line-height-sub-headline-normal:38px;
  --font-size-sub-headline-large:32px;
  --font-line-height-sub-headline-large:46px;


  --font-family-headline: Lato, sans-serif;
  --font-size-headline-small:40px;
  --font-line-height-headline-small:52px;
  --font-size-headline-normal:70px;
  --font-line-height-headline-normal:80px;
  --font-size-headline-large:120px;
  --font-line-height-headline-large:124px;

  /* - Border Radius */
  --border-radius-extra-small:4px;
  --border-radius-small:8px;
  --border-radius-large:12px;

	/* - Drop Shadow */
  --drop-shadow-small:0px 1px 4px rgba(0, 0, 0, 0.16);
  --drop-shadow-large:0px 8px 16px rgba(0, 0, 0, 0.16), 0px 1px 4px rgba(0, 0, 0, 0.16);

	/* - Spacing Scale */
  --spacing-4:4px;
  --spacing-8:8px;
  --spacing-12:12px;
  --spacing-16:16px;
  --spacing-24:24px;
  --spacing-32:32px;
  --spacing-40:40px;
  --spacing-64:64px;
  --spacing-96:96px;
  --spacing-128:128px;
  --spacing-192:192px; }

body {
	font-family: Lato, sans-serif;
}

.navbar-inner {
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
		background: transparent;
    filter: none;
    border: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* HOMEPAGE */

/* #docsSearch {
    background: transparent;
    border-bottom: none;
    margin-bottom: 3em;
    padding: 7em 0;
}

#docsSearch h1 {
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    margin-top: .4em;
    line-height: 160%;
}

#searchBar button {
    background: var(--color-green);
}

#searchBar button:hover{
		background: #4fb88a;
} */

#docsSearch {
  background-color: transparent;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-bottom: none;
  padding: 0;
  margin-bottom: 32px; }
  #docsSearch h1 {
    font-family: var(--font-family-headline);
    font-size: var(--font-size-headline-normal);
    line-height: var(--font-line-height-headline-normal);
    margin: 0;
    margin-bottom: 16px;
    color: var(--color-black); }
  #docsSearch #searchBar {
    width: 520px !important; }
    #docsSearch #searchBar button {
      background: var(--color-green);
      height: 56px;
      border-radius: 0 12px 12px 0;
      border: 1px solid var(--color-green);
      text-shadow: none;
      font-size: var(--font-size-large);
      font-family: var(--font-family-text);
      font-weight: 400;
      padding: 0 32px;
      line-height: 0;
      transition: all 0.1s ease-in !important;
      outline: none; }
      #docsSearch #searchBar button .icon-search::before {
        content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIg\a         ZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldm\a         Vub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00IDExQzQgNy4xMzQwMSA3LjEzNDAxIDQgMTEgNEMxNC44NjYg\a         NCAxOCA3LjEzNDAxIDE4IDExQzE4IDE0Ljg2NiAxNC44NjYgMTggMTEgMThDNy4xMzQwMSAxOCA0IDE0Ljg2NiA0ID\a         ExWk0xMSAyQzYuMDI5NDQgMiAyIDYuMDI5NDQgMiAxMUMyIDE1Ljk3MDYgNi4wMjk0NCAyMCAxMSAyMEMxMy4xMjUg\a         MjAgMTUuMDc4IDE5LjI2MzUgMTYuNjE3NyAxOC4wMzE5TDIwLjI5MjkgMjEuNzA3MUMyMC42ODM0IDIyLjA5NzYgMj\a         EuMzE2NiAyMi4wOTc2IDIxLjcwNzEgMjEuNzA3MUMyMi4wOTc2IDIxLjMxNjYgMjIuMDk3NiAyMC42ODM0IDIxLjcw\a         NzEgMjAuMjkyOUwxOC4wMzE5IDE2LjYxNzdDMTkuMjYzNSAxNS4wNzggMjAgMTMuMTI1IDIwIDExQzIwIDYuMDI5ND\a         QgMTUuOTcwNiAyIDExIDJaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K"); }
      #docsSearch #searchBar button:hover {
        background: var(--color-green-dark); }
      #docsSearch #searchBar button:focus {
        background: var(--color-blue-green-dark); }
  #docsSearch textarea, #docsSearch input[type=text] {
    box-shadow: none;
    transition: none;
    -webkit-appearance: none;
    transition: all 0.1s ease-in; }
  #docsSearch .search-query {
    border: 1px solid var(--color-grey-extra-light) !important;
    border-radius: 12px !important;
    color: var(--color-black) !important;
    height: 56px !important;
    font-family: var(--font-family-text) !important;
    font-size: 18px !important;
    padding-left: 16px !important;
    padding-right: 132px; }
    #docsSearch .search-query:hover {
      border: 1px solid var(--color-grey-light) !important; }
    #docsSearch .search-query:focus {
      border-color: var(--color-green) !important;
      box-shadow: inset 0px 0px 0px 1px var(--color-green); }
  #docsSearch #serp-dd {
    border-radius: 9px;
    box-shadow: var(--drop-shadow-large);
    top: 84px; }
    #docsSearch #serp-dd .noResults {
      padding: 16px 24px;
      font-size: var(--font-size-normal);
      color: var(--color-grey); }
    #docsSearch #serp-dd a {
      color: var(--color-green);
      font-size: var(--font-size-normal);
      padding: 16px 16px; }

.category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    margin: 1em auto;
}

.category-list .category {
    text-align: center;
		background-color: var(--color-white) !important;
    display: inline-block;
    width: 29%;
    border: 1px solid #000000;
    margin: 0 .8% 20px;
    padding: 1.5em 1em;
    cursor: pointer;
    -webkit-transition: background .15s;
    -moz-transition: background .15s;
    -o-transition: background .15s;
    transition: background .15s;
    vertical-align: top;
}

.category {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-position-x: 50% !important;
    background-position-y: 24px !important;
    background-color: var(--color-white) !important;
    border-radius: 10px;
    border: none !important;
    border-width: 0 !important;
    border-style: none !important;
    box-shadow: var(--drop-shadow-small);
    padding-top: 232px !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    box-sizing: border-box;
    width: 31% !important;
    transition: all 0.1s ease-in !important;
}

h2#collection-1 {
    display: none;
}

/* ARTICLE PAGE */

#main-content {
  background-image: none;
  padding-top: 40px; }

@media only screen and (max-width: 768px) {
  #main-content {
    padding-top: 0; } }

.contentWrapper {
    background: #fff;
    border: 1px solid #e9e5e5;
		border-radius: var(--border-radius-large);
    color: #222;
    min-height: 460px;
    padding: 45px 46px;
    position: relative;
}

#fullArticle .title {
    margin: 0 30px 4em 0;
}

.articleList {
	display: flex;
	flex-wrap: wrap;
}

.articleList ul {
  display: flex !important;
  flex-wrap: wrap;
  margin-left: 0 !important;
  margin-bottom: 0 !important; }

.articleList li {
  width: 29%;
  border-top: solid 2px var(--color-blue);
  border-top: solid 2px var(--color-grey-extra-light);
  padding: 0;
  padding-bottom: 40px;
  padding-top: 8px;
  margin-left: 2% !important;
  margin-right: 2% !important;
  margin-bottom: 24px !important; }

.articleList a {
  text-decoration: none;
  word-break: break-word !important; }

.articleList li::before {
  content: "" !important;
  width: 0 !important;
  margin: 0 !important; }

@media (max-width: 768px) {
  .articleList li {
    width: 100%; } }

#sidebar form .search-query {
    display: block;
    width: 100%;
    margin: 0;
    padding-right: 35px;
    font-size: var(--font-size-normal);
    line-height: var(--font-size-line-height-normal);
    height: 40px;
    border: 1px solid #D0D0D0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: var(--border-radius-small);
    color: #666;
}

#sidebar {
  margin-top: 40px; }
  #sidebar #searchBar {
    margin-bottom: 40px; }
    #sidebar #searchBar.sm button {
      height: 56px; }
  #sidebar .search-query {
    border: 1px solid var(--color-grey-extra-light) !important;
    border-radius: 12px !important;
    color: var(--color-black) !important;
    height: 56px !important;
    font-family: var(--font-family-text) !important;
    font-size: 18px !important;
    padding-left: 16px !important;
    padding-right: 48px !important; }
    #sidebar .search-query:hover {
      border: 1px solid var(--color-grey-light) !important; }
    #sidebar .search-query:focus {
      border-color: var(--color-green) !important;
      box-shadow: inset 0px 0px 0px 1px var(--color-green) !important; }
  #sidebar textarea, #sidebar input[type=text] {
    box-shadow: none;
    transition: none;
    transition: all 0.1s ease-in-out !important; }
  #sidebar form button {
    right: 16px; }
  #sidebar .icon-search:before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIg\a             ZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldm\a             Vub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00IDExQzQgNy4xMzQwMSA3LjEzNDAxIDQgMTEgNEMxNC44NjYg\a             NCAxOCA3LjEzNDAxIDE4IDExQzE4IDE0Ljg2NiAxNC44NjYgMTggMTEgMThDNy4xMzQwMSAxOCA0IDE0Ljg2NiA0ID\a             ExWk0xMSAyQzYuMDI5NDQgMiAyIDYuMDI5NDQgMiAxMUMyIDE1Ljk3MDYgNi4wMjk0NCAyMCAxMSAyMEMxMy4xMjUg\a             MjAgMTUuMDc4IDE5LjI2MzUgMTYuNjE3NyAxOC4wMzE5TDIwLjI5MjkgMjEuNzA3MUMyMC42ODM0IDIyLjA5NzYgMj\a             EuMzE2NiAyMi4wOTc2IDIxLjcwNzEgMjEuNzA3MUMyMi4wOTc2IDIxLjMxNjYgMjIuMDk3NiAyMC42ODM0IDIxLjcw\a             NzEgMjAuMjkyOUwxOC4wMzE5IDE2LjYxNzdDMTkuMjYzNSAxNS4wNzggMjAgMTMuMTI1IDIwIDExQzIwIDYuMDI5ND\a             QgMTUuOTcwNiAyIDExIDJaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K");
    position: 24px;
    width: 24px;
    height: 24px;
    opacity: .56; }
  #sidebar #serp-dd {
    top: 60px;
    box-shadow: var(--drop-shadow-large);
    color: var(--color-green);
    border-radius: 8px; }
    #sidebar #serp-dd .noResults {
      padding: 16px 24px;
      font-size: var(--font-size-normal);
      color: var(--color-grey); }
    #sidebar #serp-dd a {
      color: var(--color-green);
      font-size: var(--font-size-normal);
      padding: 16px 24px; }
  #sidebar h3 {
    display: none; }
  #sidebar .nav-list li {
    margin: 0; }
  #sidebar .nav-list a {
    color: var(--color-black);
    font-size: var(--font-size-normal);
    line-height: 40px !important;
    padding: 0 !important;
    text-shadow: none !important; }
    #sidebar .nav-list a:focus {
      color: var(--color-grey-extra-dark); }
    #sidebar .nav-list a:hover {
      color: var(--color-green-dark); }
  #sidebar .nav-list .active a {
    color: var(--color-green);
    font-size: var(--font-size-normal);
    line-height: var(--font-line-height-normal);
    font-weight: 600 !important; }
    #sidebar .nav-list .active a i {
      visibility: hidden; }
    #sidebar .nav-list .active a::before {
      content: "> "; }
    #sidebar .nav-list .active a:focus {
      color: var(--color-green) !important; }
  #sidebar .nav-list a:hover {
    color: var(--color-green) !important; }

#sidebar h3 {
    display: none;
}

#sidebar .nav-list li {
    margin: 2px 0 3px;
}

#sidebar .nav-list a {
    display: inline-block;
    color: #858585;
    font-size: var(--font-size-normal);
    padding: 6px 15px 6px 0;
    line-height: 20px;
    margin-left: 0;
}

#sidebar .nav-list .active a, #sidebar .nav-list .active a:hover, #sidebar .nav-list .active a:focus {
    font-weight: 700;
    color: #222;
    background: 0 0;
    text-shadow: none;
}
